<!doctype html>
<html lang="en" data-bs-theme="auto">
	<head>
		<script src="/docs/5.3/assets/js/color-modes.js"></script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
		<meta name="generator" content="Hugo 0.122.0">
		<title>{% block title %}Base{% endblock %}</title>

		{% block Styles %}
			<link rel="stylesheet" href={{asset("/assets/css/bootstrap.min.css")}}>
			<link rel="stylesheet" href={{asset("/assets/css/carousel.css")}}>
			<link rel="stylesheet" href={{asset("/assets/css/custom.css")}}>
			<link rel="stylesheet" href={{asset("/assets/css/style.css")}}>
			<link rel="stylesheet" href={{asset("/assets/css/fontAwesome.css")}}>
			{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"> #}
			
		{% endblock %}

	</head>
	<body class="p-0">
		<header data-bs-theme="dark">
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Carousel</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" aria-disabled="true">Disabled</a>
							</li>
						</ul>
					<div class="contenaire mx-5">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
							<li class="nav-item mx-2">
								<a class="nav-link active" aria-current="page" href="{{path('user_register')}}">
									<i class="fa-solid fa-user"></i>
								</a>
							</li>
							<li class="nav-item mx-2">
								<a class="nav-link" href="#">
									<i class="fa-solid fa-cart-shopping h5"></i>
								</a>
							</li>
						</ul>
					</div>
					</div>
				</div>
			</nav>
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>

		{% block Javascript %}
			<script src={{asset("/assets/js/fontAwesome.js")}}></script>
			<script src={{asset("/assets/js/bootstrap.bundel.min.js")}}></script>
			<script src={{asset("/assets/js/global.js")}}></script>
		{% endblock %}

	</body>
</html>

